doctype html

head
  title aja for Wechat
  meta(charset='utf8')
  link(rel='stylesheet', href='/assets/main.css')
  script(src='/assets/main.js')

body

  article.form-container
    h2 登录

    form(method='post')

      label
        span 密码
        input(type='password', name='password', required)

      p.err #{err}

      button(type='submit') 登录
